@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #002b36;
  color: whitesmoke;
}

header {
  margin-bottom: 15px;
}

.create-form label {
  color: whitesmoke !important;
  font-size: 12px !important;
}
